$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1600px;
$fhd: 1920px;

@mixin xs {
    @media (min-width: #{$xs}) {
        @content;
    }
}

@mixin sm {
    @media (min-width: #{$sm}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: #{$xxl}) {
        @content;
    }
}

@mixin xxxl {
    @media (min-width: #{$xxxl}) {
        @content;
    }
}

@mixin fhd {
    @media (min-width: #{$fhd}) {
        @content;
    }
}