$font-family-sans-serif: 'Open Sans', 'Helvatic', 'Arial', sans-serif;
$font-family-serif: 'Playfair Display', 'Times New Roman', 'Times' serif;

$font-primary: $font-family-sans-serif;
$font-secondary: $font-family-serif;

$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;

$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-h4: 1.75rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.25rem;

$line-height-base: 1.25;
